@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.card{
    height: 25rem;
    width: 27rem;

    border-radius: 5px 5px 0 0;

    margin: 0 2rem 9rem;

    box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.103);

    display: flex;
    flex-direction: column;

    justify-content: center;

    position: relative;
    text-align: center;

    &__frame{

        margin-top: 2rem;

        align-self: center;

        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        &__icon{
            width: 3rem;
            align-self: center;
            color: $dark-orange;
    
            
        }
    }


    &__title{
        margin: 1rem 0 2rem;
        font-weight: normal;
    }

    &__text{
        font-size: 1.4rem;
        color: #a2a2a2;

        padding:0 2rem 3.5rem;
    }

    &__price{
      font-family: 'Roboto', sans-serif;
      font-size: 1.8rem;
    }

    &__learn-more{
        margin-bottom: -0.35rem;
    }

    &__info{
        position: absolute;
        bottom: -4.2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;

        background: linear-gradient(60deg , $light-orange, $dark-orange);
        color: white;
        font-weight: bold;

        width: 27rem;
        height: 4.2rem;

        border-radius: 0 0 5px 5px;
    }

}