.header{
    padding-left: 7.5rem;

    height: 30rem;
    color: white;
    border-bottom: 0.4rem solid $dark-orange;

    position: relative;
    z-index: -2;

    background: url('../../assets/blue-background.jpg'), linear-gradient(to right, $light-blue 10% , rgb(0, 0, 0),black ) ;
    background-size: auto 30rem;
    background-position: right;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    
    &--light{
        background: linear-gradient(to right, #d9d9d9,white,white), url('../../assets/white-background.png') ;
        background-size: auto 30rem;
        background-position: right;
        background-repeat: no-repeat;
        background-blend-mode: color-burn;

        color: black;

    }

    &__background{
        position: absolute;
        right: 0;
        
        z-index: -1;

        &__image{
            width: 63rem;
        }
        
    }

    &__brand{
        display: flex;
        font-size: 3rem;

        padding-top: 5rem;

        &__title{
            margin-top: 0.22rem;
        }

        &__logo{
            filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(182deg) brightness(200%) contrast(104%);
            width: 16rem;
            height: 6.15rem;

            margin-top: -2rem;

            &--light{
                filter: none;
            }
        }


        &__vertical-bar{
            margin: -0.5rem 2.4rem 0 2rem;
            
            width: 1px;
            height: 4.2rem;
            background-color: currentColor;
        }

    }

    &__text{
        width: 55rem;
        line-height: 2.5rem;
        margin: 3rem 0 3.5rem;

        &--light{
            color: #00000070;
        }
    }

    &__info{
        display: flex;
        align-items: flex-start;

        &__learn-more{
            color: white;
            font-weight: bold;
            background: linear-gradient(to right, $light-orange, $dark-orange);
            width: 10rem;
            height: 3rem;
            border-radius: 5px;
        }

        &__price{

            margin-right: 1.5rem;

            &__currency-symbol{
                margin-right: 0.5rem;
            }

            &__value{
                display: inline-block;
                font-size: 3.5rem;
                margin-top: -0.3rem;
            }
        }
    }
}

@media(max-width: 1280px){
    .header{
        &--light{
            background: linear-gradient(to right, #d9d9d9,rgb(250, 250, 250));
    
        }
    }
}

@media(max-width: 1199px){
    .header{
        background:linear-gradient( 140deg , $light-blue, #027cb9);

        &--light{
            background: linear-gradient(to right, #d9d9d9,rgb(250, 250, 250));
    
        }
       
    }
}

@media(max-width: 650px){
    .header{       

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        padding: 0;

        &--light{
            background: linear-gradient(to right, #d9d9d9,rgb(250, 250, 250));
    
        }

    }
}
@media(max-width: 600px){
    .header{
        text-align: center;

        &--light{
            background: linear-gradient(to right, #d9d9d9,rgb(250, 250, 250));
    
        }

        &__brand{
            &__logo{
                width: 12rem;
                margin-top: -0.9rem;
                height: 4rem;
            }

            &__title{
                font-size: 2.5rem;
            }
        }

        &__text{
            width: 30rem;
            font-size: 1.4rem;
        }


      &__info{

        margin-bottom: 2rem;

          &__price{
              &__value{
                  margin-right: 8rem;
              }
          }

          &__learn-more{
              margin-left: 8rem;
          }
      }
        
    }
}
